body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*background-image: linear-gradient(45deg, rgba(238, 130, 7), rgb(228, 197, 156)    );*/
    
}
.input2
{
    color: aliceblue;
}
input{
    /*color: aqua;*/
}

.formulario{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /*centraliza a div no mei da pagina*/
    background-color:  rgba(228, 197, 156);
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    height: 85%;
    display: inline-block;
    opacity: 0.8;
}

/* .formulario2{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%); centraliza a div no mei da pagina
    background-color:  rgba(228, 197, 156);
    padding: 20px;
    border-radius: 15px;
    width: 30%;
    display: inline-block;
} */

fieldset{
    border: 3px solid rgb(238, 130, 7) ;
    height: auto;
   
}

legend{
    border: 3px solid rgba(238, 130, 7) ;
    padding: 10px;
    text-align: center;
    background-color:  rgba(238, 130, 7);
    border-radius: 10px;
    color: aliceblue;
    
}

.inputBox{
    position: relative;
    height: 80%;
}

.inputUser{
    background: none;
    border: none;   
    border-bottom: 1px solid rgba(238, 130, 7);
    outline: none;
    font-size: 19px solid bold;
    width: 100%;
    letter-spacing: 1px;
    height: 80%;
    
 
}

.labelInput{
    font-size: 20px solid bold;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    font-weight: bold;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 15px;  
}
#submit{
    
    background-image: linear-gradient(to right, rgba(238, 130, 7 ), rgba(238, 130, 7));
    width: 30%;
    border: none;
    padding: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin: auto;
    font-weight: bold;
  
}




